<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>

<body>
{% if key1 %}
<form action="{% url 'accepted' pk=key1.id %}" method="post" name="accepted" >
    {% csrf_token %}
<div class="container mt-4 ms-15">
<div class="row g-3 align-items-center">
  <div class="col-auto">
    <label  class="col-form-label">Name  &nbsp;&nbsp;&nbsp;</label>
  </div>
  <div class="col-auto">
    <input type="text" id="" class="form-control" name="name" value="{{key1.name}}">
  </div>
</div>
<br>
    <div class="row g-3 align-items-center">
  <div class="col-auto">
    <label  class="col-form-label">Email&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
  </div>
  <div class="col-auto">
    <input type="email" class="form-control" name="email" value="{{key1.email}}">
  </div>
</div>

    <br>

     <div class="row g-3 align-items-center">
  <div class="col-auto">
    <label  class="col-form-label">Phone&nbsp;&nbsp;&nbsp;&nbsp;</label>
  </div>
  <div class="col-auto">
    <input type="text" class="form-control" name="phone" value="{{key1.phone}}">
  </div>
</div>

    <br>

     <div class="row g-3 align-items-center">
  <div class="col-auto">
    <label  class="col-form-label">Guest&nbsp;&nbsp;&nbsp;&nbsp;</label>
  </div>
  <div class="col-auto">
    <input type="text" class="form-control" name="guest" value="{{key1.guest}}">
  </div>
</div>
<br>

      <div class="row g-3 align-items-center">
  <div class="col-auto">
    <label  class="col-form-label">Date&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
  </div>
  <div class="col-auto">
    <input type="text" class="form-control" name="dob" value="{{key1.dob}}">
  </div>
</div>
    <br>

       <div class="row g-3 align-items-center">
  <div class="col-auto">
    <label  class="col-form-label">Time&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
  </div>
  <div class="col-auto">
    <input type="text" class="form-control" name="time" value="{{key1.time}}">
  </div>
</div>
    <br>

      <div class="row g-3 align-items-center">
  <div class="col-auto">
    <label  class="col-form-label">Message</label>
  </div>
  <div class="col-auto">
    <input type="text" class="form-control" name="message" value="{{key1.message}}">
  </div>
</div>
    <br>

    <button type="submit" class="btn btn-primary">Conform</button>


</div>
</form>
{% endif %}
</body>
</html>